<link rel="stylesheet" type="text/css" href="/style.css" />

<div class="footer">

    <a class="button" href="/ela">ELA</a> <span>|</span> <a class="button" href="/math">Math</a> <span>|</span> <a class="button" href="/science">Science</a>

</div>