<link rel="stylesheet" type="text/css" href="/style.css" />

<div class="header">

    <h1>edupedia.</h1>

    <div class="bottomHeader">
        
        <a class="button" href="/">Home</a><span>|</span><a class="button favorites" href="/favorites">Favorites &#9829 <span>|</span> <a class="button" href="/all">All Resources</a> <span>|</span></a><a class="button" href="/new">Add Resource</a>
    
    </div> 

</div>