<link rel="stylesheet" type="tetx/css" href="/style.css" />

<h1>Edit Resource</h1>

<form class="form" action="/<%=id %>/?_method=put" method="POST">

    <div class="inputParent">
        <label for="name">Name:</label>
        <input type="text" name="name" value="<%= name %>" />

        <label for="url">Website URL:</label>
        <input type="text" name="url" value="<%= url %>" />

        <label for="subject">Subject (math, ela, science):</label>
        <input type="text" name="subject" value="<%= subject %>">
    
        <label for="keywords">Keywords:</label>

    <div class="checklistItems">
    
        <input type="checkbox" name="elementary" value="Elementary">
        <label for="elementary">Elementary</label>

        <input type="checkbox" name="middle-school" value="Middle School">
        <label for="middle-school">Middle-School</label>

        <input type="checkbox" name="high-school" value="High School">
        <label for="high-school">High School</label>

        <input type="checkbox" name="reading" value="Reading">
        <label for="reading">Reading</label>

        <input type="checkbox" name="art" value="Art">
        <label for="art">Art</label>

        <input type="checkbox" name="writing" value="Writing">
        <label for="writing">Writing</label>

        <input type="checkbox" name="apsat" value="APs / SATs">
        <label for="apsat">APs / SATs</label>

    </div>
    </div>
</form>