<link rel="stylesheet" type="tetx/css" href="/style.css" />

<h1>Edit Resource</h1>

<form class="form" action="/<%=id %>/?_method=put" method="POST">

    <div class="inputParent">
        <label for="name">Name:</label>
        <input type="text" name="name" value="<%= name %>" />

        <label for="url">Website URL:</label>
        <input type="text" name="url" value="<%= url %>" />

        <label for="subject">Subject (math, ela, science):</label>
        <input type="text" name="subject" value="<%= subject %>">
    
        <label for="keywords">Keywords:</label>

    <div class="checklistItems">
  
        <input type="checkbox" name="keywords" value="Elementary" >
        <label for="elementary">Elementary</label>

        <input type="checkbox" name="keywords" value="Middle School">
        <label for="middle-school">Middle School</label>

        <input type="checkbox" name="keywords" value="High School">
        <label for="high-school">High School</label>

        <br> 

        <input type="checkbox" name="keywords" value="Reading">
        <label for="reading">Reading</label>

        <input type="checkbox" name="keywords" value="Writing">
        <label for="writing">Writing</label>

        <input type="checkbox" name="keywords" value="Math">
        <label for="math">Math</label>

        <input type="checkbox" name="keywords" value="Science">
        <label for="science">Science</label>

        <br>

        <input type="checkbox" name="keywords" value="Art" >
        <label for="art">Art</label>

        <input type="checkbox" name="keywords" value="World Languages">
        <label for="world-languages">World Languages</label>

        <input type="checkbox" name="keywords" value="APs / SATs">
        <label for="apsat">APs / SATs</label>

    </div>

    <input type="submit" value="Update Resource" class="pageButton" />

    </div>
</form>