<link rel="stylesheet" type="tetx/css" href="/style.css" />

<h1>Edit Resource</h1>

<form class="form" action="/<%=id %>/?_method=put" method="POST">

    <div class="inputParent">
        <label for="name">Name:</label>
        <input type="text" name="name" value="<%= name %>" />
    </div>

</form>