<link rel="stylesheet" type="text/css" href="/style.css" />

<div class="home container">

<div class="homeSearch">

    <form class="form" action="/search" method="GET">

        <label class="font2" for="keywords">SEARCH FOR RESOURCES</label>
        <br>
        <input class="font pageButton input" type="text" name="keywords" value="Enter a Keyword">


        <input type="submit" value="Let's Learn" class="pageButton" />
    </form>

</div>



<div class="bottomInfo">

    <h2>. . OR FIND RESOURCES BY SUBJECT AREA!</h2>
    
</div>


</div>