<link rel="stylesheet" type="text/css" href="/style.css" />

<div class="home container">

<div class="homeSearch">

    <form class="form" action="/search" method="GET">

        <label class="font2" for="keywords">SEARCH FOR EDUCATIONAL RESOURCES</label>
        <br>
        <input class="font pageButton input" type="text" name="keywords" value="Enter a Keyword" onfocus="this.value=''" >

        <input type="submit" value="Let's Learn" class="pageButton" />
    </form>

<br>

    <h3 class="inputParent">Example Keywords: Reading, Writing, Math, Science, PreK, Elementary, High School, Middle School </h3>

</div>






</div>

<!-- <div class="bottom">
    <h2 class="bottomInfo">. . OR FIND RESOURCES BY SUBJECT AREA!</h2>
</div> -->