<link rel="stylesheet" type="text/css" href="/style.css" />

<div class="home container">

    <form class="form" action="/auth" method="POST" >

        <div class="loginInput">
           <br>
           <label class="font" for="username" value="Username">Username:</label>
            <input class="input font pageButton" type="text" name="username" value="">
           
            <br>
            <label class="font" for="password" value="Password">Password:</label>
             <input class="input font pageButton" type="password" name="password" value="">
 

             <br>
             <div class="bottomButtons">
             <input class="pageButton" type="submit" value="Log In" /> 
             <a class="pageButton" href="/signup">Sign Up</a>
            </div>
        </div>
    </form>


</div>