<link rel="stylesheet" type="text/css" href="/style.css" />

<div class="home container">

    <form class="form" action="/logout" method="POST" >

        <div class="loginInput inputParent">
             <div class="bottomButtons logOut">
             <input class="pageButton inputParent" type="submit" value="Log Out?" /> 
             <a class="pageButton inputParent" href="/favorites">Cancel</a>
            </div>
        </div>
    </form>


</div>