<link rel="stylesheet" type="text/css" href="style.css">

<div class="container">

<form class="form" action="/new" method="POST">
<h1>Add New Resource</h1>


<div class="inputParent">
    <label for="name">Name:</label>
    <input type="text" name="name">
    <label for="url">Website URL:</label>
    <input type="text" name="url">
    <label for="subject">Subject (math, ela, science):</label>
    <input type="text" name="subject">

    <label for="keywords">Keywords:</label>
<div class="checklistItems">
    <input type="checkbox" name="keywords" value="PreK">
    <label for="prek">PreK</label>
    <input type="checkbox" name="keywords" value="Elementary">
    <label for="elementary">Elementary</label>
    <input type="checkbox" name="keywords" value="Middle School">
    <label for="middle-school">Middle School</label>
    <input type="checkbox" name="keywords" value="High School">
    <label for="high-school">High School</label>
    <input type="checkbox" name="math" value="Math">
    <label for="math">Math</label>
    <input type="checkbox" name="keywords" value="Reading">
    <label for="reading">Reading</label>
    <input type="checkbox" name="keywords" value="Science">
    <label for="science">Science</label>
    <input type="checkbox" name="keywords" value="Art">
    <label for="art">Art</label>
    <input type="checkbox" name="keywords" value="World Languages">
    <label for="world-languages">World Languages</label>
    <input type="checkbox" name="keywords" value="Writing">
    <label for="writing">Writing</label>
    <input type="checkbox" name="keywords" value="APs / SATs">
    <label for="apsat">APs / SATs</label>
</div>

</div>

<div class="bottomButtons">
<input class="pageButton" type="submit" value="Add Resource" />
<a class="pageButton" href="/">Cancel</a>
</div>

</form>

</div>