body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(232, 182, 232);
    width: 105vw;
    display: flex;
    overflow: visible;
    flex-direction: column;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 50px;
}

.font{
    font-size: 24px;
    font-weight: bolder;
}
.font2{
    font-size: 22px;
}

h1{
    text-align: center;
}

.header{
    background-color: rgb(131, 72, 151);
    border: none;
    color: white;
    width: 105vw;
    display: grid;
    text-align: center;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}
.footer{
    background-color: rgb(131, 72, 151);
    color: white;
    position: fixed;
    bottom:0;
    height: 8vh;
    width: 105vw;
    text-align: center;
    padding-top: 1%;
    margin-left: -10px;
    margin-right: -10px;
}

.button{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.button2{
    text-decoration: none;
    color:black;
}

.pageButton{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-weight: bolder;
    background-color: white;
    color: black;
    font-size: 18px;
    max-width: max-content;
}

.bottomButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.h1{
    font-weight: bolder;
}

.bottomHeader{
    display: inline;
}

span{
    padding: 2%;
}

.links{
    display: inline-flex;
}

.home{
    display: flex;
    flex-direction:column;
}
/* .container{
    background-color: rgb(205, 184, 205);
    width: 105vw;
    min-height: 525px;
    display: flex;
    overflow: visible;
    flex-direction: column;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 50px;
} */

.cards{
    font-size: 16px;
    padding: 20px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.homeSearch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

.input{
    width: 225px;
}

.bottomInfo{
    position: absolute;
    bottom: 50px;
    left: 20%;
}

.inputParent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: none;
}

.loginInput{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: none;
}

.checklistItem{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.center{
    text-align: center;
}

.headerButtons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 2%
}

.favorited{
    background-color: rgb(131, 72, 151);
    color: white;
}

.favoriteButton {
    display: flex;
    justify-content: center;
}